@import url('https://fonts.googleapis.com/css2?family=Boldonse&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


.logo
{
  font-family: "Boldonse","sans-serif";
}
body
{
  
  font-family : "Noto Sans" , "sans-serif";
}

